* {
    margin: 0;
    padding: 0 0 0 0;
    box-sizing: 0;
}
nav {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    float: right;
    background-color: yellow;
    padding: 0px 5px 0px 0px;
}
nav li {
    display: inline;
    font: 1.1em sans-serif;
    float: right;
    margin: 15px 0 0 15px;
    text-decoration: none;
}

nav a {
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    font-size: 18px;
    color: red;
}
a {
    color: white;
    font-size: 1.05em;
    text-decoration: underline;
}

a:hover {
    font-size: 1.05em;
    color: red;
}

body {
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    text-align: center;
    font-family: sans-serif;    
    background-image:url(imagens/download_resized.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;   
    background-position: left top;
}

#capa {
    width: 100%;
    float: center;
}

.topo {
    color: rgb(0, 0, 0);
    text-align: right;
    font-weight: bolder;
    font-size: 1em;
    position:static;
}

header { 
    position:static;
}

.titulo {
    color: #130092;
    text-align: center;
    margin: 10px;
}

h1 {
    border: 3px;
    font-size: 2em;
    font-weight: bolder; 
}

h2 {
    border: 3px;
    font-size: 1.5em;
    font-weight: bolder; 
}

div {
    margin: 0px;
    padding: 0px;
}

h3 {
    color:  #ffffff;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
}

p {
    color:  black;
    margin-left: 10px;
    text-align: justify;
    margin-right: 10px;
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 50px;
}

li {
    color:  black#ffffff;
    text-align: justify;
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mapa {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
}

.mapa li {
    display: inline-block;
    text-align: center;
    width: 24.7%;
    vertical-align: middle;
    margin: 0px;
    padding: 1px 0px;
    box-sizing: border-box;
    border: 0px solid yellow;
    border-radius: 30px;
}

.mapa li:hover {
    border: 0px solid blue;
}

.mapa li:active {
    border: 0px solid red;
}

.mapa li:hover h3 {
    font-size: 24px;
}

.mapa h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

.site {
    width: 110%;
    align:center;
    justify-content: center;
    padding:0px;
    margin:0px;
}

.itens {
	color:  black;
	text-decoration: underline;
}

.tabela {
    align: center;
}

table {
    color:  white;
    margin: 0 20px 0 20px;
    border-color: white solid 2px;
    font-size: 1.05em;
    align: center;
    vertical-align: middle;
}

th {
    color:  white;   
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.05em;
    border: 2px solid white;
    padding: 10px;
}
td {
    color:  white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.05em;
    border: 2px solid white;
    padding: 10px;
}

.turma {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.espaço {
    font-size: 0;
    margin: 0;
    line-height: 0.5;
}

#bandeira {
    width: 400px;
    text-align: center;
    border: 0.1px;    
    margin: 5px;
    vertical-align: middle;
    align-items: center;
}

#carouselExampleInterval{
    size: 30%;
    width: 50px;
}

.mascot {
    height: 300px;
    justify-content: center;
    margin: 0px;
}

#bandeiras {
    width: 100px;
    text-align: center;
    border: 0.1px solid black;    
    margin: 5px;
    vertical-align: middle;
}

.copa {
    height: 300px;
    justify-content: center;
    margin: 20px;
}

#mapa {
    width: 70%;
    justify-content: center;
}

#tabela {
    width: 49%;
    justify-content: center;
    margin: 0;
    align:center;
}

#estadio1 {
    width: 40%;
    justify-content: center;
    vertical-align: top;
    color: white;
}

#estadio2 {
    width: 50%;
    justify-content: center;
    vertical-align: middle;
}

#Ranking{
    color:  white;
    width: 100%;
    float: center;
}

.Ranking{
    color:  white;
}
td, li {
    color:  white;
    vertical-align: middle;
}

.topicos {
    color:  #ffffff;
    margin-left: 40px;
    margin-right: 20px;
    text-align: justify;
    font-size: 1.05em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mascote {
    width: 20%;
    justify-content: left;
    margin-left: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center; 
}

h4 {
    color:  #ffffff;
    margin: 20px;
    text-align: justify;
    font-size: 1.05em;
}

#rodape {
    width: 100%;
    float: center;
}

.copyright {
    color:  white;
    text-align: center;
    font-size: 1em;
    border: rgb(0, 0, 0) solid 0.5px;
    background-color: red;
    position:static;
    padding: 0px;
    margin: 0px;
    line-height: 1.5em;
}

.vertical {
    height: 250px;
    width: 2px;
}

.relative {
    padding: 20px;
    border: 3px dotted yellow;
    background-color: lightcyan;
    position: relative;
    color: royalblue;
}

.alterado {
    top: 10px;
    left: 10px;
}

.absolute {
    height: 10px;
    width: 140px;
    border: 1px solid blue;
    background-color: blueviolet;
    position: absolute;
    top: 20px;
    right:20px;   
}

.fixed {
    background-color: lightpink;
    color:black;
    text-align: center;
    position: fixed;
    top: 50px;
    left: 50px;
}

.sticky {
    background-color:peru;
    color:brown;
    text-align: center;
    position: sticky;
    top: 0px;
    left: 150px;
}